<div class="header-container">
<%=link_to "<", groups_path%>
<h2>EXPENSES</h2>
<p></p>
</div>
<p class="total">Total: $<%=@total%></p>
<div class="expenses-container">
<% @expenses.each do |expense|%>    
    <div class="expense">
        <div class="expense-button-box">
        <%=button_to "Delete", group_expense_path(group_id: params[:id], id: expense.id ), method: :delete%>
        </div>
        <div class="expense-info">
        <p><%=expense.name%></p>
        <p>$<%=expense.amount%></p>
        </div>
    </div>
<%end%>
</div>
<div class="new-btn">
<%if can? :manage, Expense%>
<%=link_to "ADD EXPENSE", new_group_expense_path(group_id: params[:id]) %>
<%end%>
</div>